* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-left: 4.5%;
    margin-top: 1%;
}
/* 
#canvas {
    border: 2px solid black; 
         margin: 0; 
    padding-left: 10px;
    margin-left: 10px;
} */

.holder {
    text-align:center;
	font-family:Arial, sans-serif;
	font-size:xx-large;
	color:#aa7d4f;

}

canvas {
    border: 2px solid black; 
    position: relative;
    margin-left: 5%;
    margin-top: 1%;
}

table {
    /* padding-block-start: 5%;
    padding-inline-start: 5%; */
    border-spacing: 30px;
}